<h5 class="display-5">Forms template:</h5>
<form (ngSubmit)="saveData(myForm)" #myForm="ngForm" class="needs-validation">
  <div class="form-group">
    <label for="name">Name</label>
    <input #name="ngModel" type="text" class="form-control" id="name" placeholder="Name" name="name" 
    [(ngModel)]="user.name" minlength="5" required
    [ngClass]="{'is-invalid': name.errors?.required && name.touched || name.errors?.minlength,
    'is-valid': name.valid}">
    <div *ngIf="name?.errors?.required" class="invalid-feedback">
      Please provide a name.
    </div>
    <div *ngIf="name?.errors?.minlength" class="invalid-feedback">
      At least {{ name?.errors.minlength.requiredLength }} characters.
    </div>
  </div>

  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input #lastname="ngModel" type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" 
    [(ngModel)]="user.lastname" minlength="8" required
    [ngClass]="{'is-invalid': lastname.errors?.required && lastname.touched || lastname.errors?.minlength,
    'is-valid': lastname.valid}">
    <div *ngIf="lastname?.errors?.required" class="invalid-feedback">
      Please give us a lastname
    </div>
    <div *ngIf="lastname?.errors?.minlength" class="invalid-feedback">
      At least write {{ lastname?.errors.minlength.requiredLength }} letters.
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input #email="ngModel" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email"
    name="email" 
    [(ngModel)]="user.email"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
    [ngClass]="{'is-invalid': email.errors?.required && email.touched || email.errors?.pattern,
    'is-valid': email.valid}">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <div *ngIf="email?.errors?.required" class="invalid-feedback">
      Please give us an email.
    </div>
    <div *ngIf="email?.errors?.pattern" class="invalid-feedback">
      Your email does not match.
    </div>
  </div>

  <div class="form-group">
    <label for="country">Select a country</label>
    <select name="country" class="custom-select" [(ngModel)]="user.countryCode">
      <option value="" disabled selected>Open this select menu</option>
      <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
    </select>
  </div>
  
  <div class="form-group">
    <label>Genre</label>
    <div *ngFor="let genre of genres; let i = index" class="custom-control custom-radio">
      <input [(ngModel)]="user.genre" [value]="genre" type="radio" [id]="i" name="genre" class="custom-control-input">
      <label class="custom-control-label" [for]="i">{{ genre }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input [(ngModel)]="user.acceptance" name="acceptance" type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
    </div>
  </div>

  <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary" >Submit</button>
</form>
<pre>
  {{user | json}}
</pre>
